In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 4.8 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 17.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [23]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 6.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Collecting regex>=2021.8.3
  Downloading regex-2023.3.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (769 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 769.6/769.6 kB 56.5 MB/s eta 0:00:00
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.3.23

In [1]:
import pymongo

In [3]:
client = pymongo.MongoClient('backend:27017')

In [4]:
db = client['database']

In [5]:
col = db['collection']

In [6]:
my_dict = {'name': 'John', 'adress': 'Highway 37'}
col.insert_one(my_dict)

In [7]:
col.delete_one(my_dict)

In [117]:
for x in col.find():
    print(x)

In [118]:
import pandas as pd

In [119]:
data = pd.read_csv('lab01.csv')
data.shape

(265, 5)

In [120]:
data.sample(3)

,Unnamed: 0,title,date,section,text
67,63fe73339a7947243a005e1f,МВД Белоруссии задержало в Гомеле 200 человек ...,2023-03-01 01:04:00,Общество,Сотрудники милиции задержали в Гомеле 200 чело...
19,63fc4d5f9a794750f56abc03,"Под землей, по воздуху и под водой: как работа...",2023-03-01 10:37:00,РБК и Ростелеком,Первыми мессенджерами в истории человека были ...
174,63eb5da89a794701b759621f,ЦБ раскрыл данные об инцидентах при переводе д...,2023-02-14 14:08:00,Финансы,В 2022 году кредитные организации вернули жерт...

In [124]:
data = data.rename(columns={'Unnamed: 0':'news_id'})

In [125]:
data.sample(3)

,news_id,title,date,section,text
210,63dbe6d69a79477ac5a41d99,Три вопроса о вступившем в силу эмбарго ЕС на ...,2023-02-04 23:57:00,Бизнес,"В воскресенье, 5 февраля, вступило в силу эмба..."
183,63e61f1b9a79470d575bb7a9,Предоставит ли Запад Украине современные истре...,2023-02-11 00:12:00,Политика,Чего потребовал Зеленский\nВ европейском турне...
1,currencycbeur,"Курс евро на 1 марта\nEUR ЦБ: 79,51 (-0,11)",2023-02-28 16:08:00,Инвестиции,NaN

In [127]:
text_columns = ['title', 'text', 'section']
datetime_columns = ['date']

In [128]:
from nltk.tokenize import WordPunctTokenizer

tokenizer = WordPunctTokenizer()

def normalize(text):
    tokens = tokenizer.tokenize(str(text).lower())
    return " ".join(tokens)

data[text_columns] = data[text_columns].applymap(normalize)
data[text_columns] = data[text_columns].applymap(normalize)

In [129]:
data.sample(3)

,news_id,title,date,section,text
86,63fe57539a79471a1d1b6f52,мид заявил об угрозе эскалации палестино - изр...,2023-02-28 23:01:00,политика,напряженная обстановка на западном берегу реки...
214,63dba0c69a79475b1f927c97,эксперты сервиса « продажи . рф » обратили вни...,2023-02-03 07:05:00,бизнес,российские производители молочной продукции ст...
197,63e1134a9a794758bbe93eef,минобороны предложило изменить порядок комплек...,2023-02-07 09:27:00,политика,министерство обороны подготовило законопроект ...

In [130]:
col.insert_many(data.to_dict('records'))